#ignonra una carpeta
readme

#ignonra una subcarpeta
readme/log

#ignora un archivo
readme.md

#ignora un tipo de archivo
*.md

#ignora todos los archivos con ese nombre
log.*

#exceptúa el archivo con ese nombre
!readme.txt
