/*CSS Grid*/
#flexbox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 98%;
    margin: auto;
}
#flexbox .wrap{
    display: flex;
    gap: 10px;
}
#flexbox .wrap-1{
    display: flex;
    width: 30%;
    order: 2;
}
#flexbox .wrap-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
#flexbox .wrap-3{
    display: flex;
    gap: 10px;
    width: 100%;
    order: 2;
}
#flexbox .wrap-4{
    display: flex;
    gap: 10px;
    width: 100%;
    order: 1;
}
#flexbox .box{
    width: 100%;
    height: 100%;
}

/*CSS General*/
#flexbox .box{
    border:1px solid thistle;
    border-radius: 4px;
    padding: 10px;
    background: url(../img/paisaje1.jpg) no-repeat;
    background-size: cover;
    min-height: 200px;
}
#flexbox .wrap-1 .box{
    background: url(../img/paisaje2.jpg) no-repeat;
    background-size: cover;
}
.box h2, .box p{
    color:black;
    text-shadow: 1px 1px white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.box h2{
    font-size: large;
    font-weight: bold;
}
.box p{
    font-size: small;
    font-weight: 100;
}