main{
  background-size: auto;
}

#cv-head{
  background: #000;
}

#profile-photo {
  width: 50%;
  margin: auto;
}

#profile-photo picture{
    height: auto;
    margin-bottom: 40px;
    position: unset !important;
}

#profile-photo picture img{
  width: 100%;
}

#personal-data div:nth-child(1) h1 {
    font-size: 3em;
    text-align: center;
  }
  #personal-data div:nth-child(2) h2 {
    font-size: 1.8em;
    line-height: 30px;
    text-align: center;
  }
  #personal-data div:nth-child(3) p {
    font-size: 1.6em;
    text-align: center;
  }
  div:nth-child(3) i{
    text-align: center;
    display: block;
    margin: 20px 0 10px 0;
}

[role="progressbar"] {
  width: 75%;
  margin: auto;
}