@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100;200;300;400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/*Profile photo*/
main {
  font-family: Anek Gujarati;
  width: 100%;
  /*background: url(../img/fondo.png) no-repeat;*/
  background-size: 100%;
  background-position: bottom;
}

#cv-head {
  background: url(../img/fondo-cv.png) no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

#profile-photo {
  width: 235px;
}

#profile-photo picture {
  display: block;
  bottom: -40px;
}

#profile-photo picture img {
  width: 90%;
}

#personal-data {
  width: 708px;
  margin: auto;
}

#personal-data div:nth-child(1) h1 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 10px;
  margin: 0;
}

#personal-data div:nth-child(2) h2 {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 14.7px;
  line-height: 26px;
  margin-bottom: 1em;
}

#personal-data div:nth-child(3) p {
  font-size: 20px;
  font-weight: 100;
  line-height: 26px;
  margin: 0;
}

#personal-data div:nth-child(3) a {
  text-decoration: none;
}

#personal-data div:nth-child(3) i {
  font-weight: 100;
}

#personal-data a {
  color: white;
}
#cv-body h2 {
  font-size: 40px;
  font-weight: 400;
}
#cv-body h3 {
  font-size: 26px;
  font-weight: 400;
}
#portfolio, footer {
  background-color: #eee;
}
footer p {
  text-align: right;
  margin-right: 10px;
  font-size: 1.2em;
}

/*Classes*/
.uppercase {
  text-transform: uppercase;
}

/*Progress bar*/
@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}
@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
[role=progressbar] {
  --percentage: var(--value);
  --primary: #369;
  --secondary: #adf;
  --size: 300px;
  animation: progress 2s 0.5s forwards;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

[role=progressbar]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(rgba(0, 0, 0, 0) 55%, #000 0);
  -webkit-mask-mode: alpha;
}

[role=progressbar]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: var(--primary);
}