body {
    background-color:mediumseagreen;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    width: 100%;
}

input, button {
    padding: 20px;
    font-size: 28px;
    border-radius:  8px;
    border: 1px solid mediumspringgreen;
    background-color: mediumpurple;
    color: whitesmoke;
}

input {
    width: calc(100% - 40px);
}

button:hover {
    background-color: mediumslateblue;
}