*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    margin: 0 !important;
    background-color: black !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrap{
    background-color: black;
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
p{
    text-align: center;
    font-size: 100px;
    font-family: DigitalNumbers-Regular;
    color: white;
    text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 15px lime, 0 0 20px lime;
}
button{
    padding: 10px;
    margin: 0 20px;
    border: 1px solid #444;
    border-radius: 50px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    box-shadow: inset 2px 2px 2px 2px rgba(255, 255, 255, .9);
    transition: all .2s;
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
.play-bg{
    background-color: rgba(173, 255, 47, 8);
}
.pause-bg{
    background-color: rgba(218, 165, 32, 8);
}
.stop-bg{
    background-color: rgba(255, 99, 71, .8);
}
button.play-bg:active{
    background-color: rgba(173, 255, 47, .6);
    box-shadow: inset 2px 2px 2px 2px rgba(255, 255, 255, .2);
}
button.pause-bg:active{
    background-color: rgba(218, 165, 32, .6);
    box-shadow: inset 2px 2px 2px 2px rgba(255, 255, 255, .2);
}
button.stop-bg:active{
    background-color: rgba(255, 99, 71, .6);
    box-shadow: inset 2px 2px 2px 2px rgba(255, 255, 255, .2);
}
@font-face {
    font-family: DS-DIGI;
    src: url('../fonts/DS-DIGI.TTF');
}
@font-face {
    font-family: DigitalNumbers-Regular;
    src: url('../fonts/DigitalNumbers-Regular.woff');
}
@font-face {
    font-family: digital-dismay-regular;
    src: url('../fonts/digital-dismay.regular.otf');
}




