*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: silver;
    width: 100%;
    min-height: 100vh;
    margin: 0 !important;
    position: relative;
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 70%;
}
#light-dark-icons{
    width: 24px;
    height: 24px;
    position: fixed;
    top: 20px;
    right: 20px;
}
#task-input{
    padding: 12px 10px;
    border-radius: 4px;
    border: 1px solid #999;
    font-family: JosefinSans;
    width: 100%;
}
#task-list{
    width: 100%;
    padding: 0 !important;
}
.task{
    display: grid;
    grid-template-columns: 16fr 1fr 1fr;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #999;
    height: 50px;
    align-items: center;
    margin-bottom: 15px;
    user-select: none;
}
@media screen and (max-width: 1200px){
    .task{
        grid-template-columns: 10fr 1fr 1fr;
    }
}
@media screen and (max-width: 900px){
    .task{
        grid-template-columns: 8fr 1fr 1fr;
    }
}
.task p{
    line-height: 32px;
    text-transform: none;
}
.task .icon{
    display: grid;
    justify-content: end;
}
.done-task{
    background-color: black;
}
.done-task .bi{
    color: cornflowerblue;
}
.done-task p{
    text-decoration: line-through;
    font-style: oblique;
    color: cornflowerblue; 
}
.title, .subtitle{
    text-align: center;
}
.icon svg{
    user-select: none;
}
h1{
    font-family: JosefinSans;
    font-size: 40px !important;
    font-weight: 200 !important;
    text-transform: uppercase;
    color: darkslategray !important;
}
p{
    font-family: JosefinSans;
    text-transform: uppercase;
    color: darkslategray;
    margin: 0 !important;
}
#button-add-task{
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 60px;
    margin-top: 20px;
}
@font-face{
    font-family: JosefinSans;
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}
svg{
    cursor: pointer;
}

/*Dark theme styles*/
.dark #light-dark-icons .bi{
    color: gray;
}
.dark main{
    background-color: #111b21;
}
.dark main h1{
    color: gray !important;
}
.dark main p{
    color: gray;
}
.dark main .task{
    background-color: chartreuse;
}
.dark main .task p{
    color: #111b21;
}
.dark #button-add-task{
    background-color: chartreuse;
}
.dark .done-task{
    background-color: black !important;
}
.dark .done-task .bi{
    color: chartreuse;
}
.dark .done-task p{
    text-decoration: line-through;
    font-style: oblique;
    color: chartreuse !important;
}